{% extends 'mainapp/layout.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content%}
<div class="features">
    <h1>{{ title }}</h1>

    <p>На этой странице должно быть написано что-то очень ГЛАВНОЕ, такое главное что бы сразу было понятно что мы все таки на ГЛАВНОЙ странице, желательно побольше слов "ГЛАВНАЯ". Хотя сошла бы и информация о сайте, для чего он создан и какие цели преследует, а так же то, что же здесь в конце то концов можно найти! Ну и конечно еще больше воды для того что бы предать этому тексту объема и веса в глазах стороннего наблюдателя дабы сайт сей не казался чем то безжизненным и холодным как замерзшая ветвь несчастной яблоньки в крещенские морозы, в одиноком и забытом тёмном саду обветшалого деревянного домика с покосившейся крышей и бесщадно крутящимся флюгером на колючем и бездушном январском ветру... </p>
    <button class="btn btn-warning">На страницу про нас</button>

</div>
{% endblock%}